body {
  background:rgb(255,125,80);
  font-family: "Avenir", "Helvetica Neue","Arial","sans-serif";
}

h2{
  color:rgb(255,255,255);
}

.greenheading {
  color:rgb(255,255,255);

}

p{
color: rgb(0,0,0);
padding: 16px;
margin-right: 0px;
}

.rightpara{
  float:right;
  margin-right: 20px;
  width: 40%;

}
.leftpara{
  float:left;
  margin-left: 0px;
  width:40%;

}

.mydiv {
  backgound: rgb(255,255,0);
  padding: 166pdx;
}

.intropara {
  border:none;
  background: rgb(255,255,255);
  font-style: italic;
  margin-bottom: 58px;
  margin-right: 0px;
}

li {
  color: rgb(255,255,255);
  clear: both;
}
span{
  display: inline-block
  float:right;}
